/build*
install
doc/html
.emacs.desktop*
.cproject
.project
CMakeCache.txt
CMakeFiles/
CPackConfig.cmake
CPackSourceConfig.cmake
argos.SlackBuild
cmake_install.cmake
doinst.sh
slack-desc
TAGS
.dir-locals.el
.vscode*
builddir
target
