/build*
install
doc/api
.emacs.desktop*
.cproject
.project
CMakeCache.txt
CMakeFiles/
CPackConfig.cmake
CPackSourceConfig.cmake
Doxyfile
argos.SlackBuild
argos3.conf
cmake_install.cmake
doinst.sh
slack-desc
TAGS
.dir-locals.el
.vscode*
builddir
